<header>
  <div class="shop-name">BookStore</div>
  <div class="shopping-cart">Shopping cart</div>
</header>

<div class="refresh-button"><img src="https://img.icons8.com/ios-glyphs/60/000000/refresh--v1.png"/></div>
<div class="container">
  <div class="book-for-sale">
      <div class="card-content">
          <h2 class="card-title">BookName</h2>
          <p class="card-body">Here will be author name,
          ISBN book code, date it was made etc
          </p>
          <p><a href="#" class="button">Add to cart</a><span class="price">9999</span></p>
      </div>
  </div>  
</div>