<header>
  <div class="shop-name">BookStore</div>
  <div class="shopping-cart">Shopping cart</div>
</header>

<div class="refresh-button" (click)="refreshBooks()"><img src="https://img.icons8.com/ios-glyphs/60/000000/refresh--v1.png"/></div>
<div class="container">
  <div *ngFor="let book of books" class="book-for-sale" style="background-image: url(assets/images/{{book.coverPath}});">
      <div class="card-content">
          <h2 class="card-title">{{ book.name }}</h2>
          <p class="card-body">By {{ book.author }},
          release {{ book.releaseDate }}, ISBN {{ book.isbn }}
          </p>
          <p><a href="#" class="button" (click)="addToCart(book.name)">Add to cart</a><span class="price">{{ book.availableAmount }}/{{ book.price }}rub</span></p>
      </div>
  </div>  
</div>