@import url('https://fonts.googleapis.com/css?family=Poppins:300,600');

:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(142, 90%, 61%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: black;
    margin: 0;
    padding: 0;     
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #9ca19d;
}

body::-webkit-scrollbar-thumb {
    background: #2e2e2d;
}

header {
  background-color: #727573;
  background-image: url(assets/images/header.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  height: 15vh;
  min-height: 6rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shop-name {
    font-size: 3rem;                
    padding: 0.2rem 1rem;
    margin-left: 2rem;
    border: 0.2rem solid;
    border-color: white;
    color:#0F9;
}

.shopping-cart {
    display: inline-block;
    padding: .7em 1.7em;
    background: #0F9;
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: none;

    margin-left: auto;
}

.refresh-button {
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    background-color: #0F9;
    border-radius: 100%;
    padding: 10px;
    padding-bottom: 2px;

    transition: transform 300ms ease;
}

.refresh-button:hover {
    transform: scale(1.05)
}

.price {
    margin-left: 3rem;
}

.container {
    background: var(--clr-neutral-900);
    padding-top: 3rem;  
    min-height: 100vh;
    line-height: 2.5;
    font-family: sans-serif;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;  
    justify-items: center;;
}

.book-for-sale {
    color: var(--clr-neutral-100);
    background-image: url(assets/images/psychopath-test.jpg);
    background-size: cover;
    background-position: center;
    padding: 10rem 0 0;
    margin: 2rem;
    max-width: 35ch;
    max-height: 49ch;
    border-radius: 0.5rem;
    overflow: hidden;

    transition: transform 500ms ease;
}


.book-for-sale:hover,
.book-for-sale:focus-within {
    transform: scale(1.05);
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0, 0%, 0%, 0),
        hsl(20, 0%, 0%, .5) 20%,
        hsl(0, 0%, 0%, 1)
    );
    transform: translateY(65%);
    transition: transform 500ms ease;
}

.book-for-sale:hover .card-content,
.card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
}

.book-for-sale:focus-within .card-content {
    transition-duration: 0ms;
}

.card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
}


.book-for-sale:hover .card-content > *:not(.card-title),
.book-for-sale:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 1000ms;
}

.card-title {
    position: relative;
    margin: 0;
    width: max-content;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: -2px;
    width: calc(100% + var(--padding));
    background: var(--clr-accent-400);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease;
}

.book-for-sale:hover .card-title::after,
.book-for-sale:focus-within .card-title::after {
    transform: scaleX(1);
}

.card-body {
    color: rgb(255 255 255 / 0.9);
}

.button {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}

.button:hover,
.button:focus {
    background-color: var(--clr-neutral-100);
}